html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #0c1117 0%, #000 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 400px 87px #fff, 879px 1151px #fff, 1025px 330px #fff,
    152px 1856px #fff, 1904px 631px #fff, 179px 1889px #fff, 243px 1271px #fff,
    1368px 607px #fff, 928px 1375px #fff, 1221px 1091px #fff, 897px 1879px #fff,
    1445px 197px #fff, 1819px 411px #fff, 1508px 506px #fff, 425px 1056px #fff,
    1381px 1781px #fff, 1926px 334px #fff, 552px 1918px #fff, 1323px 858px #fff,
    1517px 203px #fff, 1803px 802px #fff, 825px 1904px #fff, 1092px 855px #fff,
    1943px 1164px #fff, 1221px 1938px #fff, 297px 90px #fff, 1438px 1210px #fff,
    1956px 1979px #fff, 812px 226px #fff, 126px 1804px #fff, 603px 466px #fff,
    240px 976px #fff, 1190px 1435px #fff, 703px 690px #fff, 590px 1870px #fff,
    1094px 527px #fff, 1369px 1417px #fff, 1365px 1172px #fff, 1274px 471px #fff,
    1124px 1294px #fff, 978px 865px #fff, 1896px 558px #fff, 1332px 1857px #fff,
    1413px 1728px #fff, 1919px 1740px #fff, 223px 283px #fff, 1563px 527px #fff,
    516px 1220px #fff, 831px 782px #fff, 712px 888px #fff, 553px 511px #fff,
    1451px 626px #fff, 8px 1981px #fff, 270px 1144px #fff, 1970px 1804px #fff,
    954px 26px #fff, 606px 482px #fff, 364px 1521px #fff, 574px 1997px #fff,
    319px 794px #fff, 1955px 904px #fff, 898px 1418px #fff, 1806px 999px #fff,
    1436px 414px #fff, 696px 1342px #fff, 1904px 108px #fff, 244px 1560px #fff,
    761px 938px #fff, 1062px 1676px #fff, 331px 154px #fff, 1834px 865px #fff,
    594px 470px #fff, 972px 1334px #fff, 1348px 871px #fff, 407px 1012px #fff,
    490px 370px #fff, 1770px 1377px #fff, 935px 95px #fff, 1836px 383px #fff,
    1081px 1869px #fff, 1233px 955px #fff, 1758px 580px #fff, 973px 1005px #fff,
    372px 1176px #fff, 1189px 1804px #fff, 293px 1529px #fff, 576px 582px #fff,
    199px 58px #fff, 126px 1282px #fff, 1610px 524px #fff, 1363px 1199px #fff,
    119px 866px #fff, 1920px 1860px #fff, 945px 1658px #fff, 700px 135px #fff,
    782px 1229px #fff, 1625px 1529px #fff, 1031px 441px #fff, 853px 1141px #fff,
    1191px 1681px #fff, 672px 596px #fff, 1525px 1835px #fff, 1705px 1108px #fff,
    1627px 1046px #fff, 216px 376px #fff, 1813px 1316px #fff, 1973px 512px #fff,
    1031px 726px #fff, 940px 877px #fff, 694px 1803px #fff, 1287px 671px #fff,
    143px 445px #fff, 1213px 1665px #fff, 262px 399px #fff, 827px 1995px #fff,
    414px 677px #fff, 1493px 1400px #fff, 1196px 1617px #fff, 306px 442px #fff,
    1930px 584px #fff, 1735px 1365px #fff, 1805px 1381px #fff,
    1568px 1238px #fff, 1863px 85px #fff, 1296px 486px #fff, 1035px 1948px #fff,
    705px 529px #fff, 817px 1922px #fff, 1442px 537px #fff, 1314px 1450px #fff,
    256px 63px #fff, 1194px 1330px #fff, 826px 653px #fff, 1771px 739px #fff,
    131px 666px #fff, 1089px 703px #fff, 407px 1815px #fff, 342px 745px #fff,
    168px 1971px #fff, 1711px 592px #fff, 557px 1710px #fff, 1402px 1534px #fff,
    1696px 708px #fff, 378px 1896px #fff, 939px 1424px #fff, 1333px 1596px #fff,
    243px 648px #fff, 121px 1240px #fff, 526px 1703px #fff, 2px 1125px #fff,
    1347px 77px #fff, 465px 1673px #fff, 949px 788px #fff, 1795px 429px #fff,
    503px 614px #fff, 291px 1368px #fff, 1275px 844px #fff, 576px 1434px #fff,
    23px 870px #fff, 1908px 295px #fff, 535px 1397px #fff, 637px 912px #fff,
    857px 312px #fff, 729px 251px #fff, 240px 156px #fff, 1588px 720px #fff,
    1872px 605px #fff, 1834px 82px #fff, 412px 1225px #fff, 222px 1627px #fff,
    785px 316px #fff, 1416px 1448px #fff, 152px 178px #fff, 547px 1777px #fff,
    912px 1398px #fff, 1165px 145px #fff, 679px 598px #fff, 1931px 1668px #fff,
    297px 1047px #fff, 1744px 609px #fff, 653px 1509px #fff, 571px 408px #fff,
    1153px 1156px #fff, 1490px 1755px #fff, 1885px 1755px #fff,
    1302px 110px #fff, 519px 1533px #fff, 1145px 906px #fff, 1400px 557px #fff,
    726px 1551px #fff, 278px 1989px #fff, 177px 35px #fff, 902px 133px #fff,
    827px 881px #fff, 494px 1149px #fff, 895px 590px #fff, 986px 1932px #fff,
    41px 97px #fff, 687px 1607px #fff, 1956px 1467px #fff, 1919px 1883px #fff,
    539px 1991px #fff, 390px 361px #fff, 940px 221px #fff, 852px 1094px #fff,
    254px 981px #fff, 1703px 885px #fff, 1091px 1502px #fff, 1001px 715px #fff,
    302px 252px #fff, 730px 1185px #fff, 465px 494px #fff, 1359px 710px #fff,
    1937px 431px #fff, 854px 456px #fff, 1798px 291px #fff, 641px 1078px #fff,
    1200px 1990px #fff, 1650px 525px #fff, 1661px 1949px #fff, 209px 585px #fff,
    830px 1198px #fff, 1646px 837px #fff, 1353px 1958px #fff, 1376px 1858px #fff,
    1228px 1771px #fff, 265px 1799px #fff, 968px 1250px #fff, 1765px 1571px #fff,
    303px 1439px #fff, 1301px 1238px #fff, 1676px 794px #fff, 1029px 716px #fff,
    215px 1432px #fff, 1640px 817px #fff, 594px 906px #fff, 1836px 24px #fff,
    960px 1062px #fff, 1569px 937px #fff, 66px 591px #fff, 1055px 1423px #fff,
    593px 379px #fff, 1236px 1073px #fff, 398px 921px #fff, 1032px 1256px #fff,
    297px 1225px #fff, 88px 659px #fff, 414px 992px #fff, 1021px 1821px #fff,
    1985px 1220px #fff, 1055px 1856px #fff, 1966px 219px #fff, 261px 1531px #fff,
    1782px 586px #fff, 1850px 440px #fff, 1153px 741px #fff, 1433px 815px #fff,
    1964px 1964px #fff, 205px 1260px #fff, 1212px 1740px #fff, 848px 503px #fff,
    1951px 125px #fff, 105px 1562px #fff, 933px 795px #fff, 1442px 783px #fff,
    1244px 94px #fff, 1127px 1754px #fff, 558px 549px #fff, 1471px 1578px #fff,
    71px 1029px #fff, 1072px 989px #fff, 1893px 149px #fff, 918px 342px #fff,
    1051px 387px #fff, 715px 1221px #fff, 1673px 1277px #fff, 862px 140px #fff,
    1804px 761px #fff, 14px 726px #fff, 457px 1880px #fff, 1945px 1173px #fff,
    1741px 144px #fff, 393px 1285px #fff, 696px 496px #fff, 1153px 1810px #fff,
    1383px 1140px #fff, 1861px 844px #fff, 1720px 1791px #fff, 1593px 6px #fff,
    1163px 1812px #fff, 327px 1173px #fff, 1448px 1100px #fff, 223px 1785px #fff,
    1707px 185px #fff, 632px 625px #fff, 1488px 1293px #fff, 505px 1590px #fff,
    18px 1754px #fff, 305px 1066px #fff, 870px 734px #fff, 1237px 1121px #fff,
    680px 985px #fff, 325px 57px #fff, 446px 323px #fff, 1437px 1169px #fff,
    1873px 1219px #fff, 1451px 1738px #fff, 1323px 771px #fff, 629px 1340px #fff,
    1025px 1391px #fff, 1728px 1778px #fff, 1572px 423px #fff,
    1305px 1260px #fff, 1630px 465px #fff, 1096px 655px #fff, 660px 218px #fff,
    366px 1865px #fff, 1911px 578px #fff, 1150px 1429px #fff, 1650px 842px #fff,
    796px 819px #fff, 1469px 1952px #fff, 1397px 508px #fff, 1975px 1564px #fff,
    1777px 1962px #fff, 764px 1353px #fff, 470px 1370px #fff, 708px 1378px #fff,
    734px 1377px #fff, 404px 485px #fff, 1027px 892px #fff, 1091px 1061px #fff,
    1344px 1533px #fff, 767px 1689px #fff, 1130px 1427px #fff, 1069px 403px #fff,
    7px 646px #fff, 734px 1622px #fff, 1554px 1483px #fff, 198px 422px #fff,
    298px 616px #fff, 281px 1581px #fff, 332px 245px #fff, 583px 892px #fff,
    1320px 1553px #fff, 181px 806px #fff, 442px 1198px #fff, 218px 1336px #fff,
    1334px 969px #fff, 1717px 1874px #fff, 813px 25px #fff, 741px 790px #fff,
    1618px 1476px #fff, 1033px 1118px #fff, 1183px 1226px #fff,
    1507px 760px #fff, 999px 795px #fff, 1857px 1083px #fff, 1447px 577px #fff,
    93px 347px #fff, 637px 1848px #fff, 1833px 1433px #fff, 1188px 1460px #fff,
    184px 234px #fff, 1699px 1503px #fff, 276px 321px #fff, 1374px 99px #fff,
    478px 515px #fff, 1725px 1731px #fff, 846px 506px #fff, 1946px 1520px #fff,
    1428px 1378px #fff, 638px 261px #fff, 74px 1348px #fff, 1573px 1553px #fff,
    1404px 2px #fff, 1933px 1383px #fff, 1996px 1674px #fff, 1045px 771px #fff,
    1315px 1263px #fff, 1583px 598px #fff, 448px 1170px #fff, 806px 1028px #fff,
    291px 137px #fff, 1700px 151px #fff, 773px 882px #fff, 1649px 1360px #fff,
    1092px 1711px #fff, 365px 626px #fff, 79px 1091px #fff, 1890px 1168px #fff,
    235px 1058px #fff, 123px 1122px #fff, 1531px 1051px #fff, 899px 1302px #fff,
    1036px 14px #fff, 1560px 1526px #fff, 123px 562px #fff, 1882px 672px #fff,
    285px 1397px #fff, 949px 1623px #fff, 850px 1030px #fff, 33px 1188px #fff,
    1496px 1614px #fff, 724px 1889px #fff, 734px 1819px #fff, 1113px 1685px #fff,
    573px 1298px #fff, 855px 9px #fff, 453px 502px #fff, 67px 1584px #fff,
    1766px 1924px #fff, 415px 594px #fff, 1700px 703px #fff, 1078px 679px #fff,
    1265px 1239px #fff, 314px 810px #fff, 943px 598px #fff, 1679px 1403px #fff,
    283px 449px #fff, 1879px 1472px #fff, 999px 1458px #fff, 371px 1230px #fff,
    1694px 785px #fff, 1770px 493px #fff, 196px 233px #fff, 1260px 1752px #fff,
    198px 203px #fff, 1720px 1982px #fff, 989px 1860px #fff, 691px 1562px #fff,
    1428px 183px #fff, 529px 810px #fff, 627px 1318px #fff, 403px 881px #fff,
    1730px 203px #fff, 56px 409px #fff, 417px 500px #fff, 1339px 717px #fff,
    1425px 265px #fff, 555px 828px #fff, 295px 416px #fff, 1148px 1499px #fff,
    1533px 1401px #fff, 1545px 439px #fff, 1701px 1856px #fff, 1609px 171px #fff,
    1884px 1416px #fff, 1701px 1367px #fff, 320px 542px #fff, 1076px 521px #fff,
    976px 1871px #fff, 1147px 217px #fff, 690px 818px #fff, 462px 1791px #fff,
    1254px 1678px #fff, 696px 1720px #fff, 384px 168px #fff, 1370px 1319px #fff,
    559px 858px #fff, 1788px 367px #fff, 731px 681px #fff, 1280px 759px #fff,
    1677px 384px #fff, 1664px 595px #fff, 1541px 16px #fff, 556px 1394px #fff,
    654px 492px #fff, 177px 458px #fff, 1532px 1123px #fff, 859px 1px #fff,
    850px 1986px #fff, 1023px 633px #fff, 1310px 395px #fff, 873px 238px #fff,
    834px 138px #fff, 37px 1171px #fff, 1600px 848px #fff, 840px 939px #fff,
    1554px 9px #fff, 1838px 867px #fff, 269px 608px #fff, 624px 1949px #fff,
    319px 1947px #fff, 1015px 1032px #fff, 1046px 642px #fff, 660px 399px #fff,
    1885px 1017px #fff, 774px 1269px #fff, 1513px 1147px #fff, 756px 194px #fff,
    1723px 1671px #fff, 1520px 1379px #fff, 319px 712px #fff, 474px 1981px #fff,
    615px 1954px #fff, 1537px 1055px #fff, 1850px 904px #fff, 1126px 1285px #fff,
    1620px 1909px #fff, 1633px 1274px #fff, 864px 287px #fff, 660px 1705px #fff,
    1129px 1516px #fff, 380px 1529px #fff, 217px 1834px #fff, 545px 611px #fff,
    1261px 1558px #fff, 533px 1866px #fff, 191px 1939px #fff, 716px 478px #fff,
    1001px 1230px #fff, 784px 734px #fff, 1816px 1985px #fff, 412px 1733px #fff,
    1472px 869px #fff, 1570px 1888px #fff, 318px 1216px #fff, 1236px 1649px #fff,
    602px 1839px #fff, 1089px 1179px #fff, 1660px 7px #fff, 435px 933px #fff,
    1001px 1413px #fff, 1157px 1372px #fff, 1154px 230px #fff, 173px 767px #fff,
    336px 1191px #fff, 1743px 1374px #fff, 1659px 556px #fff, 889px 1573px #fff,
    1237px 1588px #fff, 48px 696px #fff, 520px 73px #fff, 1996px 1645px #fff,
    137px 1368px #fff, 1411px 1662px #fff, 764px 834px #fff, 821px 1451px #fff,
    71px 1886px #fff, 1587px 1088px #fff, 567px 1631px #fff, 1139px 1896px #fff,
    235px 716px #fff, 1788px 1447px #fff, 607px 155px #fff, 750px 1720px #fff,
    537px 39px #fff, 716px 1258px #fff, 726px 1438px #fff, 1439px 312px #fff,
    1949px 1141px #fff, 54px 1952px #fff, 1768px 325px #fff, 1222px 1870px #fff,
    1953px 287px #fff, 1706px 1949px #fff, 250px 1746px #fff, 1806px 1095px #fff,
    73px 1126px #fff, 1222px 164px #fff, 971px 1845px #fff, 1722px 1725px #fff,
    1506px 543px #fff, 1306px 1109px #fff, 272px 1622px #fff, 1905px 1459px #fff,
    311px 1942px #fff, 334px 506px #fff, 85px 1047px #fff, 1005px 714px #fff,
    1307px 1010px #fff, 308px 794px #fff, 838px 1840px #fff, 309px 94px #fff,
    1042px 404px #fff, 1959px 1986px #fff, 1127px 72px #fff, 452px 1251px #fff,
    239px 1173px #fff, 1676px 815px #fff, 611px 1983px #fff, 787px 102px #fff,
    699px 959px #fff, 1204px 1080px #fff, 1568px 1667px #fff, 718px 267px #fff,
    1593px 1049px #fff, 532px 1096px #fff, 206px 44px #fff, 841px 1556px #fff,
    1893px 1031px #fff, 1169px 1476px #fff, 938px 618px #fff, 309px 404px #fff,
    426px 1121px #fff, 459px 1377px #fff, 1292px 89px #fff, 90px 1541px #fff,
    893px 307px #fff, 967px 30px #fff, 1310px 1082px #fff, 560px 836px #fff,
    1496px 812px #fff, 246px 1352px #fff, 860px 386px #fff, 377px 207px #fff,
    1531px 1121px #fff, 1324px 1812px #fff, 817px 578px #fff, 399px 1193px #fff,
    400px 1473px #fff, 1952px 1478px #fff, 372px 1838px #fff, 1617px 1038px #fff,
    1951px 210px #fff, 1519px 809px #fff, 768px 1802px #fff, 938px 623px #fff,
    497px 313px #fff, 1390px 2000px #fff, 35px 1624px #fff, 1005px 1629px #fff,
    723px 762px #fff, 1353px 1410px #fff, 421px 1878px #fff, 714px 132px #fff,
    1902px 952px #fff, 142px 1877px #fff, 576px 391px #fff, 1745px 769px #fff,
    1622px 245px #fff, 961px 597px #fff, 1380px 748px #fff, 1822px 200px #fff,
    1289px 1441px #fff, 1239px 1675px #fff, 721px 1552px #fff, 839px 1377px #fff,
    656px 680px #fff, 1121px 477px #fff, 53px 699px #fff, 1870px 423px #fff,
    653px 1311px #fff, 614px 1889px #fff, 1887px 1386px #fff, 1277px 606px #fff,
    507px 796px #fff, 586px 1064px #fff, 406px 348px #fff, 1220px 1853px #fff,
    1998px 1728px #fff, 897px 1290px #fff, 579px 516px #fff, 1084px 1148px #fff,
    981px 399px #fff, 1166px 242px #fff, 714px 1596px #fff, 879px 936px #fff,
    1209px 821px #fff, 780px 760px #fff, 1669px 188px #fff, 838px 291px #fff,
    1709px 817px #fff, 177px 1620px #fff, 1642px 1807px #fff, 419px 345px #fff,
    413px 562px #fff, 874px 1062px #fff, 1793px 1445px #fff, 574px 252px #fff,
    242px 1486px #fff, 1600px 767px #fff, 167px 676px #fff, 47px 491px #fff,
    1359px 1357px #fff, 523px 959px #fff, 573px 1604px #fff, 1582px 1657px #fff,
    691px 684px #fff, 1537px 1376px #fff, 1949px 32px #fff, 1308px 567px #fff,
    1225px 878px #fff, 668px 1241px #fff, 1445px 1545px #fff, 1954px 899px #fff,
    1657px 1875px #fff, 1142px 1427px #fff, 33px 1427px #fff, 894px 1558px #fff,
    45px 1115px #fff, 1674px 731px #fff, 494px 532px #fff, 211px 596px #fff,
    845px 202px #fff, 1854px 31px #fff, 1086px 735px #fff, 783px 444px #fff,
    1322px 1659px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 400px 87px #fff, 879px 1151px #fff, 1025px 330px #fff,
    152px 1856px #fff, 1904px 631px #fff, 179px 1889px #fff, 243px 1271px #fff,
    1368px 607px #fff, 928px 1375px #fff, 1221px 1091px #fff, 897px 1879px #fff,
    1445px 197px #fff, 1819px 411px #fff, 1508px 506px #fff, 425px 1056px #fff,
    1381px 1781px #fff, 1926px 334px #fff, 552px 1918px #fff, 1323px 858px #fff,
    1517px 203px #fff, 1803px 802px #fff, 825px 1904px #fff, 1092px 855px #fff,
    1943px 1164px #fff, 1221px 1938px #fff, 297px 90px #fff, 1438px 1210px #fff,
    1956px 1979px #fff, 812px 226px #fff, 126px 1804px #fff, 603px 466px #fff,
    240px 976px #fff, 1190px 1435px #fff, 703px 690px #fff, 590px 1870px #fff,
    1094px 527px #fff, 1369px 1417px #fff, 1365px 1172px #fff, 1274px 471px #fff,
    1124px 1294px #fff, 978px 865px #fff, 1896px 558px #fff, 1332px 1857px #fff,
    1413px 1728px #fff, 1919px 1740px #fff, 223px 283px #fff, 1563px 527px #fff,
    516px 1220px #fff, 831px 782px #fff, 712px 888px #fff, 553px 511px #fff,
    1451px 626px #fff, 8px 1981px #fff, 270px 1144px #fff, 1970px 1804px #fff,
    954px 26px #fff, 606px 482px #fff, 364px 1521px #fff, 574px 1997px #fff,
    319px 794px #fff, 1955px 904px #fff, 898px 1418px #fff, 1806px 999px #fff,
    1436px 414px #fff, 696px 1342px #fff, 1904px 108px #fff, 244px 1560px #fff,
    761px 938px #fff, 1062px 1676px #fff, 331px 154px #fff, 1834px 865px #fff,
    594px 470px #fff, 972px 1334px #fff, 1348px 871px #fff, 407px 1012px #fff,
    490px 370px #fff, 1770px 1377px #fff, 935px 95px #fff, 1836px 383px #fff,
    1081px 1869px #fff, 1233px 955px #fff, 1758px 580px #fff, 973px 1005px #fff,
    372px 1176px #fff, 1189px 1804px #fff, 293px 1529px #fff, 576px 582px #fff,
    199px 58px #fff, 126px 1282px #fff, 1610px 524px #fff, 1363px 1199px #fff,
    119px 866px #fff, 1920px 1860px #fff, 945px 1658px #fff, 700px 135px #fff,
    782px 1229px #fff, 1625px 1529px #fff, 1031px 441px #fff, 853px 1141px #fff,
    1191px 1681px #fff, 672px 596px #fff, 1525px 1835px #fff, 1705px 1108px #fff,
    1627px 1046px #fff, 216px 376px #fff, 1813px 1316px #fff, 1973px 512px #fff,
    1031px 726px #fff, 940px 877px #fff, 694px 1803px #fff, 1287px 671px #fff,
    143px 445px #fff, 1213px 1665px #fff, 262px 399px #fff, 827px 1995px #fff,
    414px 677px #fff, 1493px 1400px #fff, 1196px 1617px #fff, 306px 442px #fff,
    1930px 584px #fff, 1735px 1365px #fff, 1805px 1381px #fff,
    1568px 1238px #fff, 1863px 85px #fff, 1296px 486px #fff, 1035px 1948px #fff,
    705px 529px #fff, 817px 1922px #fff, 1442px 537px #fff, 1314px 1450px #fff,
    256px 63px #fff, 1194px 1330px #fff, 826px 653px #fff, 1771px 739px #fff,
    131px 666px #fff, 1089px 703px #fff, 407px 1815px #fff, 342px 745px #fff,
    168px 1971px #fff, 1711px 592px #fff, 557px 1710px #fff, 1402px 1534px #fff,
    1696px 708px #fff, 378px 1896px #fff, 939px 1424px #fff, 1333px 1596px #fff,
    243px 648px #fff, 121px 1240px #fff, 526px 1703px #fff, 2px 1125px #fff,
    1347px 77px #fff, 465px 1673px #fff, 949px 788px #fff, 1795px 429px #fff,
    503px 614px #fff, 291px 1368px #fff, 1275px 844px #fff, 576px 1434px #fff,
    23px 870px #fff, 1908px 295px #fff, 535px 1397px #fff, 637px 912px #fff,
    857px 312px #fff, 729px 251px #fff, 240px 156px #fff, 1588px 720px #fff,
    1872px 605px #fff, 1834px 82px #fff, 412px 1225px #fff, 222px 1627px #fff,
    785px 316px #fff, 1416px 1448px #fff, 152px 178px #fff, 547px 1777px #fff,
    912px 1398px #fff, 1165px 145px #fff, 679px 598px #fff, 1931px 1668px #fff,
    297px 1047px #fff, 1744px 609px #fff, 653px 1509px #fff, 571px 408px #fff,
    1153px 1156px #fff, 1490px 1755px #fff, 1885px 1755px #fff,
    1302px 110px #fff, 519px 1533px #fff, 1145px 906px #fff, 1400px 557px #fff,
    726px 1551px #fff, 278px 1989px #fff, 177px 35px #fff, 902px 133px #fff,
    827px 881px #fff, 494px 1149px #fff, 895px 590px #fff, 986px 1932px #fff,
    41px 97px #fff, 687px 1607px #fff, 1956px 1467px #fff, 1919px 1883px #fff,
    539px 1991px #fff, 390px 361px #fff, 940px 221px #fff, 852px 1094px #fff,
    254px 981px #fff, 1703px 885px #fff, 1091px 1502px #fff, 1001px 715px #fff,
    302px 252px #fff, 730px 1185px #fff, 465px 494px #fff, 1359px 710px #fff,
    1937px 431px #fff, 854px 456px #fff, 1798px 291px #fff, 641px 1078px #fff,
    1200px 1990px #fff, 1650px 525px #fff, 1661px 1949px #fff, 209px 585px #fff,
    830px 1198px #fff, 1646px 837px #fff, 1353px 1958px #fff, 1376px 1858px #fff,
    1228px 1771px #fff, 265px 1799px #fff, 968px 1250px #fff, 1765px 1571px #fff,
    303px 1439px #fff, 1301px 1238px #fff, 1676px 794px #fff, 1029px 716px #fff,
    215px 1432px #fff, 1640px 817px #fff, 594px 906px #fff, 1836px 24px #fff,
    960px 1062px #fff, 1569px 937px #fff, 66px 591px #fff, 1055px 1423px #fff,
    593px 379px #fff, 1236px 1073px #fff, 398px 921px #fff, 1032px 1256px #fff,
    297px 1225px #fff, 88px 659px #fff, 414px 992px #fff, 1021px 1821px #fff,
    1985px 1220px #fff, 1055px 1856px #fff, 1966px 219px #fff, 261px 1531px #fff,
    1782px 586px #fff, 1850px 440px #fff, 1153px 741px #fff, 1433px 815px #fff,
    1964px 1964px #fff, 205px 1260px #fff, 1212px 1740px #fff, 848px 503px #fff,
    1951px 125px #fff, 105px 1562px #fff, 933px 795px #fff, 1442px 783px #fff,
    1244px 94px #fff, 1127px 1754px #fff, 558px 549px #fff, 1471px 1578px #fff,
    71px 1029px #fff, 1072px 989px #fff, 1893px 149px #fff, 918px 342px #fff,
    1051px 387px #fff, 715px 1221px #fff, 1673px 1277px #fff, 862px 140px #fff,
    1804px 761px #fff, 14px 726px #fff, 457px 1880px #fff, 1945px 1173px #fff,
    1741px 144px #fff, 393px 1285px #fff, 696px 496px #fff, 1153px 1810px #fff,
    1383px 1140px #fff, 1861px 844px #fff, 1720px 1791px #fff, 1593px 6px #fff,
    1163px 1812px #fff, 327px 1173px #fff, 1448px 1100px #fff, 223px 1785px #fff,
    1707px 185px #fff, 632px 625px #fff, 1488px 1293px #fff, 505px 1590px #fff,
    18px 1754px #fff, 305px 1066px #fff, 870px 734px #fff, 1237px 1121px #fff,
    680px 985px #fff, 325px 57px #fff, 446px 323px #fff, 1437px 1169px #fff,
    1873px 1219px #fff, 1451px 1738px #fff, 1323px 771px #fff, 629px 1340px #fff,
    1025px 1391px #fff, 1728px 1778px #fff, 1572px 423px #fff,
    1305px 1260px #fff, 1630px 465px #fff, 1096px 655px #fff, 660px 218px #fff,
    366px 1865px #fff, 1911px 578px #fff, 1150px 1429px #fff, 1650px 842px #fff,
    796px 819px #fff, 1469px 1952px #fff, 1397px 508px #fff, 1975px 1564px #fff,
    1777px 1962px #fff, 764px 1353px #fff, 470px 1370px #fff, 708px 1378px #fff,
    734px 1377px #fff, 404px 485px #fff, 1027px 892px #fff, 1091px 1061px #fff,
    1344px 1533px #fff, 767px 1689px #fff, 1130px 1427px #fff, 1069px 403px #fff,
    7px 646px #fff, 734px 1622px #fff, 1554px 1483px #fff, 198px 422px #fff,
    298px 616px #fff, 281px 1581px #fff, 332px 245px #fff, 583px 892px #fff,
    1320px 1553px #fff, 181px 806px #fff, 442px 1198px #fff, 218px 1336px #fff,
    1334px 969px #fff, 1717px 1874px #fff, 813px 25px #fff, 741px 790px #fff,
    1618px 1476px #fff, 1033px 1118px #fff, 1183px 1226px #fff,
    1507px 760px #fff, 999px 795px #fff, 1857px 1083px #fff, 1447px 577px #fff,
    93px 347px #fff, 637px 1848px #fff, 1833px 1433px #fff, 1188px 1460px #fff,
    184px 234px #fff, 1699px 1503px #fff, 276px 321px #fff, 1374px 99px #fff,
    478px 515px #fff, 1725px 1731px #fff, 846px 506px #fff, 1946px 1520px #fff,
    1428px 1378px #fff, 638px 261px #fff, 74px 1348px #fff, 1573px 1553px #fff,
    1404px 2px #fff, 1933px 1383px #fff, 1996px 1674px #fff, 1045px 771px #fff,
    1315px 1263px #fff, 1583px 598px #fff, 448px 1170px #fff, 806px 1028px #fff,
    291px 137px #fff, 1700px 151px #fff, 773px 882px #fff, 1649px 1360px #fff,
    1092px 1711px #fff, 365px 626px #fff, 79px 1091px #fff, 1890px 1168px #fff,
    235px 1058px #fff, 123px 1122px #fff, 1531px 1051px #fff, 899px 1302px #fff,
    1036px 14px #fff, 1560px 1526px #fff, 123px 562px #fff, 1882px 672px #fff,
    285px 1397px #fff, 949px 1623px #fff, 850px 1030px #fff, 33px 1188px #fff,
    1496px 1614px #fff, 724px 1889px #fff, 734px 1819px #fff, 1113px 1685px #fff,
    573px 1298px #fff, 855px 9px #fff, 453px 502px #fff, 67px 1584px #fff,
    1766px 1924px #fff, 415px 594px #fff, 1700px 703px #fff, 1078px 679px #fff,
    1265px 1239px #fff, 314px 810px #fff, 943px 598px #fff, 1679px 1403px #fff,
    283px 449px #fff, 1879px 1472px #fff, 999px 1458px #fff, 371px 1230px #fff,
    1694px 785px #fff, 1770px 493px #fff, 196px 233px #fff, 1260px 1752px #fff,
    198px 203px #fff, 1720px 1982px #fff, 989px 1860px #fff, 691px 1562px #fff,
    1428px 183px #fff, 529px 810px #fff, 627px 1318px #fff, 403px 881px #fff,
    1730px 203px #fff, 56px 409px #fff, 417px 500px #fff, 1339px 717px #fff,
    1425px 265px #fff, 555px 828px #fff, 295px 416px #fff, 1148px 1499px #fff,
    1533px 1401px #fff, 1545px 439px #fff, 1701px 1856px #fff, 1609px 171px #fff,
    1884px 1416px #fff, 1701px 1367px #fff, 320px 542px #fff, 1076px 521px #fff,
    976px 1871px #fff, 1147px 217px #fff, 690px 818px #fff, 462px 1791px #fff,
    1254px 1678px #fff, 696px 1720px #fff, 384px 168px #fff, 1370px 1319px #fff,
    559px 858px #fff, 1788px 367px #fff, 731px 681px #fff, 1280px 759px #fff,
    1677px 384px #fff, 1664px 595px #fff, 1541px 16px #fff, 556px 1394px #fff,
    654px 492px #fff, 177px 458px #fff, 1532px 1123px #fff, 859px 1px #fff,
    850px 1986px #fff, 1023px 633px #fff, 1310px 395px #fff, 873px 238px #fff,
    834px 138px #fff, 37px 1171px #fff, 1600px 848px #fff, 840px 939px #fff,
    1554px 9px #fff, 1838px 867px #fff, 269px 608px #fff, 624px 1949px #fff,
    319px 1947px #fff, 1015px 1032px #fff, 1046px 642px #fff, 660px 399px #fff,
    1885px 1017px #fff, 774px 1269px #fff, 1513px 1147px #fff, 756px 194px #fff,
    1723px 1671px #fff, 1520px 1379px #fff, 319px 712px #fff, 474px 1981px #fff,
    615px 1954px #fff, 1537px 1055px #fff, 1850px 904px #fff, 1126px 1285px #fff,
    1620px 1909px #fff, 1633px 1274px #fff, 864px 287px #fff, 660px 1705px #fff,
    1129px 1516px #fff, 380px 1529px #fff, 217px 1834px #fff, 545px 611px #fff,
    1261px 1558px #fff, 533px 1866px #fff, 191px 1939px #fff, 716px 478px #fff,
    1001px 1230px #fff, 784px 734px #fff, 1816px 1985px #fff, 412px 1733px #fff,
    1472px 869px #fff, 1570px 1888px #fff, 318px 1216px #fff, 1236px 1649px #fff,
    602px 1839px #fff, 1089px 1179px #fff, 1660px 7px #fff, 435px 933px #fff,
    1001px 1413px #fff, 1157px 1372px #fff, 1154px 230px #fff, 173px 767px #fff,
    336px 1191px #fff, 1743px 1374px #fff, 1659px 556px #fff, 889px 1573px #fff,
    1237px 1588px #fff, 48px 696px #fff, 520px 73px #fff, 1996px 1645px #fff,
    137px 1368px #fff, 1411px 1662px #fff, 764px 834px #fff, 821px 1451px #fff,
    71px 1886px #fff, 1587px 1088px #fff, 567px 1631px #fff, 1139px 1896px #fff,
    235px 716px #fff, 1788px 1447px #fff, 607px 155px #fff, 750px 1720px #fff,
    537px 39px #fff, 716px 1258px #fff, 726px 1438px #fff, 1439px 312px #fff,
    1949px 1141px #fff, 54px 1952px #fff, 1768px 325px #fff, 1222px 1870px #fff,
    1953px 287px #fff, 1706px 1949px #fff, 250px 1746px #fff, 1806px 1095px #fff,
    73px 1126px #fff, 1222px 164px #fff, 971px 1845px #fff, 1722px 1725px #fff,
    1506px 543px #fff, 1306px 1109px #fff, 272px 1622px #fff, 1905px 1459px #fff,
    311px 1942px #fff, 334px 506px #fff, 85px 1047px #fff, 1005px 714px #fff,
    1307px 1010px #fff, 308px 794px #fff, 838px 1840px #fff, 309px 94px #fff,
    1042px 404px #fff, 1959px 1986px #fff, 1127px 72px #fff, 452px 1251px #fff,
    239px 1173px #fff, 1676px 815px #fff, 611px 1983px #fff, 787px 102px #fff,
    699px 959px #fff, 1204px 1080px #fff, 1568px 1667px #fff, 718px 267px #fff,
    1593px 1049px #fff, 532px 1096px #fff, 206px 44px #fff, 841px 1556px #fff,
    1893px 1031px #fff, 1169px 1476px #fff, 938px 618px #fff, 309px 404px #fff,
    426px 1121px #fff, 459px 1377px #fff, 1292px 89px #fff, 90px 1541px #fff,
    893px 307px #fff, 967px 30px #fff, 1310px 1082px #fff, 560px 836px #fff,
    1496px 812px #fff, 246px 1352px #fff, 860px 386px #fff, 377px 207px #fff,
    1531px 1121px #fff, 1324px 1812px #fff, 817px 578px #fff, 399px 1193px #fff,
    400px 1473px #fff, 1952px 1478px #fff, 372px 1838px #fff, 1617px 1038px #fff,
    1951px 210px #fff, 1519px 809px #fff, 768px 1802px #fff, 938px 623px #fff,
    497px 313px #fff, 1390px 2000px #fff, 35px 1624px #fff, 1005px 1629px #fff,
    723px 762px #fff, 1353px 1410px #fff, 421px 1878px #fff, 714px 132px #fff,
    1902px 952px #fff, 142px 1877px #fff, 576px 391px #fff, 1745px 769px #fff,
    1622px 245px #fff, 961px 597px #fff, 1380px 748px #fff, 1822px 200px #fff,
    1289px 1441px #fff, 1239px 1675px #fff, 721px 1552px #fff, 839px 1377px #fff,
    656px 680px #fff, 1121px 477px #fff, 53px 699px #fff, 1870px 423px #fff,
    653px 1311px #fff, 614px 1889px #fff, 1887px 1386px #fff, 1277px 606px #fff,
    507px 796px #fff, 586px 1064px #fff, 406px 348px #fff, 1220px 1853px #fff,
    1998px 1728px #fff, 897px 1290px #fff, 579px 516px #fff, 1084px 1148px #fff,
    981px 399px #fff, 1166px 242px #fff, 714px 1596px #fff, 879px 936px #fff,
    1209px 821px #fff, 780px 760px #fff, 1669px 188px #fff, 838px 291px #fff,
    1709px 817px #fff, 177px 1620px #fff, 1642px 1807px #fff, 419px 345px #fff,
    413px 562px #fff, 874px 1062px #fff, 1793px 1445px #fff, 574px 252px #fff,
    242px 1486px #fff, 1600px 767px #fff, 167px 676px #fff, 47px 491px #fff,
    1359px 1357px #fff, 523px 959px #fff, 573px 1604px #fff, 1582px 1657px #fff,
    691px 684px #fff, 1537px 1376px #fff, 1949px 32px #fff, 1308px 567px #fff,
    1225px 878px #fff, 668px 1241px #fff, 1445px 1545px #fff, 1954px 899px #fff,
    1657px 1875px #fff, 1142px 1427px #fff, 33px 1427px #fff, 894px 1558px #fff,
    45px 1115px #fff, 1674px 731px #fff, 494px 532px #fff, 211px 596px #fff,
    845px 202px #fff, 1854px 31px #fff, 1086px 735px #fff, 783px 444px #fff,
    1322px 1659px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 399px 860px #fff, 891px 578px #fff, 748px 1873px #fff,
    157px 962px #fff, 1239px 1101px #fff, 857px 481px #fff, 1923px 509px #fff,
    1915px 639px #fff, 760px 697px #fff, 1085px 776px #fff, 1244px 322px #fff,
    258px 1225px #fff, 1911px 1925px #fff, 929px 1676px #fff, 1978px 918px #fff,
    1036px 1579px #fff, 977px 280px #fff, 363px 1084px #fff, 155px 1964px #fff,
    349px 211px #fff, 1690px 938px #fff, 1281px 102px #fff, 1535px 1664px #fff,
    718px 1385px #fff, 1030px 643px #fff, 235px 1901px #fff, 928px 1179px #fff,
    1654px 188px #fff, 22px 1636px #fff, 744px 386px #fff, 1020px 1519px #fff,
    1129px 505px #fff, 1720px 1502px #fff, 1341px 622px #fff, 1041px 1299px #fff,
    236px 1473px #fff, 88px 1175px #fff, 1183px 368px #fff, 170px 1746px #fff,
    1413px 203px #fff, 1196px 1867px #fff, 1066px 14px #fff, 995px 969px #fff,
    1160px 1970px #fff, 499px 53px #fff, 909px 1533px #fff, 1037px 1044px #fff,
    983px 1433px #fff, 1576px 318px #fff, 131px 246px #fff, 1688px 679px #fff,
    1120px 236px #fff, 1923px 925px #fff, 467px 951px #fff, 1424px 474px #fff,
    452px 164px #fff, 2000px 675px #fff, 1323px 111px #fff, 1885px 1220px #fff,
    1583px 1891px #fff, 135px 591px #fff, 162px 829px #fff, 534px 472px #fff,
    664px 1014px #fff, 399px 688px #fff, 69px 238px #fff, 1033px 1560px #fff,
    917px 1880px #fff, 406px 786px #fff, 1345px 237px #fff, 513px 229px #fff,
    518px 70px #fff, 248px 471px #fff, 1527px 1171px #fff, 1686px 918px #fff,
    1120px 365px #fff, 796px 392px #fff, 615px 1607px #fff, 878px 945px #fff,
    453px 1147px #fff, 627px 373px #fff, 359px 1936px #fff, 95px 274px #fff,
    1595px 109px #fff, 36px 1448px #fff, 953px 869px #fff, 1646px 59px #fff,
    1138px 618px #fff, 916px 770px #fff, 142px 1228px #fff, 1588px 1493px #fff,
    1078px 1118px #fff, 1335px 1513px #fff, 1165px 1519px #fff, 876px 263px #fff,
    1233px 1771px #fff, 1273px 720px #fff, 435px 903px #fff, 817px 1592px #fff,
    924px 369px #fff, 1227px 1224px #fff, 1526px 1397px #fff, 609px 268px #fff,
    1660px 888px #fff, 652px 1973px #fff, 1803px 704px #fff, 221px 1288px #fff,
    1720px 1238px #fff, 921px 1158px #fff, 1188px 525px #fff, 661px 1303px #fff,
    1357px 897px #fff, 530px 695px #fff, 984px 1296px #fff, 153px 1468px #fff,
    1520px 914px #fff, 906px 623px #fff, 926px 1041px #fff, 1517px 1297px #fff,
    1250px 831px #fff, 846px 1816px #fff, 1469px 1550px #fff, 1781px 130px #fff,
    900px 1522px #fff, 517px 1537px #fff, 1715px 873px #fff, 1257px 114px #fff,
    929px 1522px #fff, 1886px 1515px #fff, 146px 269px #fff, 543px 1870px #fff,
    56px 1812px #fff, 1018px 539px #fff, 1099px 668px #fff, 1599px 1148px #fff,
    1013px 201px #fff, 1364px 1309px #fff, 1428px 1177px #fff,
    1473px 1999px #fff, 1079px 1406px #fff, 612px 295px #fff, 1015px 1597px #fff,
    576px 640px #fff, 1816px 1344px #fff, 1165px 1299px #fff, 1569px 433px #fff,
    1561px 547px #fff, 405px 1131px #fff, 1918px 1534px #fff, 1615px 1736px #fff,
    1921px 1001px #fff, 825px 273px #fff, 182px 249px #fff, 1715px 929px #fff,
    1371px 362px #fff, 649px 1165px #fff, 823px 1945px #fff, 341px 1077px #fff,
    1479px 1030px #fff, 207px 1583px #fff, 1589px 1149px #fff, 486px 1477px #fff,
    1816px 875px #fff, 810px 381px #fff, 365px 1067px #fff, 1403px 1130px #fff,
    1486px 698px #fff, 1333px 415px #fff, 1057px 1891px #fff, 1159px 1493px #fff,
    1806px 477px #fff, 243px 1869px #fff, 1821px 895px #fff, 627px 1251px #fff,
    1371px 282px #fff, 1746px 1966px #fff, 1630px 1960px #fff, 684px 1172px #fff,
    1133px 1954px #fff, 952px 1180px #fff, 981px 1581px #fff, 1446px 650px #fff,
    721px 1761px #fff, 1042px 308px #fff, 1362px 946px #fff, 1473px 920px #fff,
    1487px 1217px #fff, 1983px 1081px #fff, 352px 1097px #fff, 732px 1975px #fff,
    1795px 1823px #fff, 1435px 663px #fff, 1648px 1261px #fff, 657px 384px #fff,
    1111px 255px #fff, 206px 1926px #fff, 1996px 289px #fff, 1350px 1121px #fff,
    1343px 1507px #fff, 1659px 370px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 399px 860px #fff, 891px 578px #fff, 748px 1873px #fff,
    157px 962px #fff, 1239px 1101px #fff, 857px 481px #fff, 1923px 509px #fff,
    1915px 639px #fff, 760px 697px #fff, 1085px 776px #fff, 1244px 322px #fff,
    258px 1225px #fff, 1911px 1925px #fff, 929px 1676px #fff, 1978px 918px #fff,
    1036px 1579px #fff, 977px 280px #fff, 363px 1084px #fff, 155px 1964px #fff,
    349px 211px #fff, 1690px 938px #fff, 1281px 102px #fff, 1535px 1664px #fff,
    718px 1385px #fff, 1030px 643px #fff, 235px 1901px #fff, 928px 1179px #fff,
    1654px 188px #fff, 22px 1636px #fff, 744px 386px #fff, 1020px 1519px #fff,
    1129px 505px #fff, 1720px 1502px #fff, 1341px 622px #fff, 1041px 1299px #fff,
    236px 1473px #fff, 88px 1175px #fff, 1183px 368px #fff, 170px 1746px #fff,
    1413px 203px #fff, 1196px 1867px #fff, 1066px 14px #fff, 995px 969px #fff,
    1160px 1970px #fff, 499px 53px #fff, 909px 1533px #fff, 1037px 1044px #fff,
    983px 1433px #fff, 1576px 318px #fff, 131px 246px #fff, 1688px 679px #fff,
    1120px 236px #fff, 1923px 925px #fff, 467px 951px #fff, 1424px 474px #fff,
    452px 164px #fff, 2000px 675px #fff, 1323px 111px #fff, 1885px 1220px #fff,
    1583px 1891px #fff, 135px 591px #fff, 162px 829px #fff, 534px 472px #fff,
    664px 1014px #fff, 399px 688px #fff, 69px 238px #fff, 1033px 1560px #fff,
    917px 1880px #fff, 406px 786px #fff, 1345px 237px #fff, 513px 229px #fff,
    518px 70px #fff, 248px 471px #fff, 1527px 1171px #fff, 1686px 918px #fff,
    1120px 365px #fff, 796px 392px #fff, 615px 1607px #fff, 878px 945px #fff,
    453px 1147px #fff, 627px 373px #fff, 359px 1936px #fff, 95px 274px #fff,
    1595px 109px #fff, 36px 1448px #fff, 953px 869px #fff, 1646px 59px #fff,
    1138px 618px #fff, 916px 770px #fff, 142px 1228px #fff, 1588px 1493px #fff,
    1078px 1118px #fff, 1335px 1513px #fff, 1165px 1519px #fff, 876px 263px #fff,
    1233px 1771px #fff, 1273px 720px #fff, 435px 903px #fff, 817px 1592px #fff,
    924px 369px #fff, 1227px 1224px #fff, 1526px 1397px #fff, 609px 268px #fff,
    1660px 888px #fff, 652px 1973px #fff, 1803px 704px #fff, 221px 1288px #fff,
    1720px 1238px #fff, 921px 1158px #fff, 1188px 525px #fff, 661px 1303px #fff,
    1357px 897px #fff, 530px 695px #fff, 984px 1296px #fff, 153px 1468px #fff,
    1520px 914px #fff, 906px 623px #fff, 926px 1041px #fff, 1517px 1297px #fff,
    1250px 831px #fff, 846px 1816px #fff, 1469px 1550px #fff, 1781px 130px #fff,
    900px 1522px #fff, 517px 1537px #fff, 1715px 873px #fff, 1257px 114px #fff,
    929px 1522px #fff, 1886px 1515px #fff, 146px 269px #fff, 543px 1870px #fff,
    56px 1812px #fff, 1018px 539px #fff, 1099px 668px #fff, 1599px 1148px #fff,
    1013px 201px #fff, 1364px 1309px #fff, 1428px 1177px #fff,
    1473px 1999px #fff, 1079px 1406px #fff, 612px 295px #fff, 1015px 1597px #fff,
    576px 640px #fff, 1816px 1344px #fff, 1165px 1299px #fff, 1569px 433px #fff,
    1561px 547px #fff, 405px 1131px #fff, 1918px 1534px #fff, 1615px 1736px #fff,
    1921px 1001px #fff, 825px 273px #fff, 182px 249px #fff, 1715px 929px #fff,
    1371px 362px #fff, 649px 1165px #fff, 823px 1945px #fff, 341px 1077px #fff,
    1479px 1030px #fff, 207px 1583px #fff, 1589px 1149px #fff, 486px 1477px #fff,
    1816px 875px #fff, 810px 381px #fff, 365px 1067px #fff, 1403px 1130px #fff,
    1486px 698px #fff, 1333px 415px #fff, 1057px 1891px #fff, 1159px 1493px #fff,
    1806px 477px #fff, 243px 1869px #fff, 1821px 895px #fff, 627px 1251px #fff,
    1371px 282px #fff, 1746px 1966px #fff, 1630px 1960px #fff, 684px 1172px #fff,
    1133px 1954px #fff, 952px 1180px #fff, 981px 1581px #fff, 1446px 650px #fff,
    721px 1761px #fff, 1042px 308px #fff, 1362px 946px #fff, 1473px 920px #fff,
    1487px 1217px #fff, 1983px 1081px #fff, 352px 1097px #fff, 732px 1975px #fff,
    1795px 1823px #fff, 1435px 663px #fff, 1648px 1261px #fff, 657px 384px #fff,
    1111px 255px #fff, 206px 1926px #fff, 1996px 289px #fff, 1350px 1121px #fff,
    1343px 1507px #fff, 1659px 370px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 431px 192px #fff, 1172px 340px #fff, 541px 1574px #fff,
    4px 1993px #fff, 948px 1923px #fff, 1204px 1225px #fff, 1035px 1023px #fff,
    418px 1833px #fff, 1967px 1203px #fff, 836px 795px #fff, 1037px 1759px #fff,
    813px 1914px #fff, 1968px 81px #fff, 426px 319px #fff, 239px 777px #fff,
    443px 961px #fff, 1706px 332px #fff, 1924px 1936px #fff, 5px 277px #fff,
    1694px 823px #fff, 1620px 1411px #fff, 1014px 1340px #fff,
    1233px 1384px #fff, 1479px 696px #fff, 650px 873px #fff, 1578px 989px #fff,
    1733px 1241px #fff, 835px 893px #fff, 278px 347px #fff, 1233px 1151px #fff,
    1433px 975px #fff, 1686px 161px #fff, 1632px 851px #fff, 1262px 1314px #fff,
    1337px 908px #fff, 1558px 806px #fff, 216px 1377px #fff, 1389px 858px #fff,
    1471px 1087px #fff, 1153px 1975px #fff, 236px 1112px #fff,
    1682px 1263px #fff, 1756px 36px #fff, 1553px 1870px #fff, 827px 1390px #fff,
    1022px 929px #fff, 177px 1995px #fff, 634px 1421px #fff, 247px 1922px #fff,
    508px 1232px #fff, 595px 1834px #fff, 657px 1510px #fff, 1599px 728px #fff,
    628px 163px #fff, 968px 1096px #fff, 1529px 1073px #fff, 375px 1826px #fff,
    1159px 1667px #fff, 854px 1720px #fff, 1181px 600px #fff, 25px 1991px #fff,
    1645px 1007px #fff, 599px 585px #fff, 563px 1436px #fff, 166px 1507px #fff,
    1610px 1332px #fff, 835px 890px #fff, 747px 1548px #fff, 1657px 599px #fff,
    1783px 1617px #fff, 893px 1064px #fff, 457px 907px #fff, 932px 1037px #fff,
    1504px 788px #fff, 1845px 1517px #fff, 1630px 975px #fff, 368px 761px #fff,
    1881px 1394px #fff, 1775px 1776px #fff, 1885px 1948px #fff, 90px 1492px #fff,
    1509px 1853px #fff, 1870px 393px #fff, 323px 116px #fff, 1896px 856px #fff,
    419px 1029px #fff, 433px 547px #fff, 1113px 779px #fff, 879px 28px #fff,
    710px 1258px #fff, 1358px 378px #fff, 20px 622px #fff, 11px 1086px #fff,
    1891px 744px #fff, 219px 818px #fff, 1658px 923px #fff, 1354px 1388px #fff,
    1333px 1514px #fff, 501px 1196px #fff, 936px 783px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 431px 192px #fff, 1172px 340px #fff, 541px 1574px #fff,
    4px 1993px #fff, 948px 1923px #fff, 1204px 1225px #fff, 1035px 1023px #fff,
    418px 1833px #fff, 1967px 1203px #fff, 836px 795px #fff, 1037px 1759px #fff,
    813px 1914px #fff, 1968px 81px #fff, 426px 319px #fff, 239px 777px #fff,
    443px 961px #fff, 1706px 332px #fff, 1924px 1936px #fff, 5px 277px #fff,
    1694px 823px #fff, 1620px 1411px #fff, 1014px 1340px #fff,
    1233px 1384px #fff, 1479px 696px #fff, 650px 873px #fff, 1578px 989px #fff,
    1733px 1241px #fff, 835px 893px #fff, 278px 347px #fff, 1233px 1151px #fff,
    1433px 975px #fff, 1686px 161px #fff, 1632px 851px #fff, 1262px 1314px #fff,
    1337px 908px #fff, 1558px 806px #fff, 216px 1377px #fff, 1389px 858px #fff,
    1471px 1087px #fff, 1153px 1975px #fff, 236px 1112px #fff,
    1682px 1263px #fff, 1756px 36px #fff, 1553px 1870px #fff, 827px 1390px #fff,
    1022px 929px #fff, 177px 1995px #fff, 634px 1421px #fff, 247px 1922px #fff,
    508px 1232px #fff, 595px 1834px #fff, 657px 1510px #fff, 1599px 728px #fff,
    628px 163px #fff, 968px 1096px #fff, 1529px 1073px #fff, 375px 1826px #fff,
    1159px 1667px #fff, 854px 1720px #fff, 1181px 600px #fff, 25px 1991px #fff,
    1645px 1007px #fff, 599px 585px #fff, 563px 1436px #fff, 166px 1507px #fff,
    1610px 1332px #fff, 835px 890px #fff, 747px 1548px #fff, 1657px 599px #fff,
    1783px 1617px #fff, 893px 1064px #fff, 457px 907px #fff, 932px 1037px #fff,
    1504px 788px #fff, 1845px 1517px #fff, 1630px 975px #fff, 368px 761px #fff,
    1881px 1394px #fff, 1775px 1776px #fff, 1885px 1948px #fff, 90px 1492px #fff,
    1509px 1853px #fff, 1870px 393px #fff, 323px 116px #fff, 1896px 856px #fff,
    419px 1029px #fff, 433px 547px #fff, 1113px 779px #fff, 879px 28px #fff,
    710px 1258px #fff, 1358px 378px #fff, 20px 622px #fff, 11px 1086px #fff,
    1891px 744px #fff, 219px 818px #fff, 1658px 923px #fff, 1354px 1388px #fff,
    1333px 1514px #fff, 501px 1196px #fff, 936px 783px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
